<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Listar poesias</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
    <ion-list>
      <ion-list-header>
        poesias guardados
      </ion-list-header>
  
      <ion-item *ngFor="let poesia of poesias |async">
        
        <ion-label > 
        <!--<ion-label (click)="editarContacto(contacto)"> aqui va-->
          <h2>{{poesia.nombre}}</h2>
          <h3>{{poesia.tipo}}</h3>
          <h3>{{poesia.raza}}</h3>
          <h3>{{poesia.edad}}</h3>
          <ion-avatar slot="start">
            <img src="{{poesia.foto}}">
          </ion-avatar>
  
          
        </ion-label>
      </ion-item>
    
    </ion-list>
  
    <ion-item>  
      <ion-button color="dark" (click)="nuevoContacto()" >Nuevo Contacto</ion-button>
    </ion-item>
  
  </ion-content>
  