<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Crear poesias</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <h3>Vamo a saludar a </h3> 
  
  
  
  
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="poesia.nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Genero</ion-label>
      <ion-input [(ngModel)]="poesia.genero"></ion-input>
    </ion-item>
  
  
    <ion-item>
      <ion-label position="floating">Productor</ion-label>
      <ion-input [(ngModel)]="poesia.productor"></ion-input>
    </ion-item>
    
    
    <ion-item>  
      <ion-label position="floating">Temporadas</ion-label>
      <ion-input [(ngModel)]="poesia.temporadas" ></ion-input>
    </ion-item>
  
   
  
    <ion-item>  
      <ion-label position="floating">Url de imagen</ion-label>
      <ion-input [(ngModel)]="poesia.foto" ></ion-input>
    </ion-item>
  
    
  
    <ion-item>  
      <ion-button color="dark" (click)="guardarpoesia()" >Guardar</ion-button>
    </ion-item>
  
    
  
  
  
  </ion-content>
  